# Docker Compose 파일의 버전
version: "3.8"

# 우리가 띄울 컨테이너들 정의
services:
  # Blue 환경 (8081 포트)
  blue:
    # 도커 허브에서 가져올 이미지 주소 (프론트엔드 이미지)
    image: ${DOCKERHUB_USERNAME}/bam-match-fe:latest
    # 실행될 컨테이너의 고유 이름
    container_name: bam-match-fe-blue
    # 서버가 예기치 않게 꺼지면 자동 실행
    restart: unless-stopped
    environment:
      - TZ=Asia/Seoul               # 서버 시간을 한국 시간으로 맞춥니다.
    ports:
      - "8081:80"                   # 외부(8081)와 내부(Nginx 80)를 연결합니다.
    env_file:
      - ../.env                     # DOCKERHUB_USERNAME 등이 담긴 .env 참조
    networks:
      - bam-match-network           # 백엔드와 동일한 네트워크 사용

  # Green 환경 (8084 포트)
  green:
    image: ${DOCKERHUB_USERNAME}/bam-match-fe:latest
    container_name: bam-match-fe-green
    restart: unless-stopped
    environment:
      - TZ=Asia/Seoul
    ports:
      - "8082:80"                   # 외부(8084)와 내부(Nginx 80)를 연결합니다.
    env_file:
      - ../.env
    networks:
      - bam-match-network

networks:
  # 백엔드에서 생성한 외부 네트워크를 그대로 공유하여 사용합니다.
  bam-match-network:
    external: true